<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<group ns="camera_2">
    <arg name="marker_size"          default="20.0" />
    <arg name="max_new_marker_error" default="0.2" />
    <arg name="max_track_error"      default="0.2" />

    <arg name="cam_image_topic"      default="/camera2/image_raw_2" />
    <arg name="cam_info_topic"       default="/camera2/camera_info_2" />
    <arg name="output_frame"         default="/chassis" />

    
<node pkg="tf" type="static_transform_publisher" name="world_frames_connection" args="0 0 0 3.1414 1.707 0 /chassis /camera_link_2 100"/>
<node name="ar_track_alvar_2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>
</group>
</launch>
