<?xml version="1.0" encoding="UTF-8"?>
<launch>
<group ns="bot_robot">
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gazebo_bot)/urdf/bot.xacro'"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-param robot_description -urdf -model bot" />
</group>
</launch>
