<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gazebo_bot)/urdf/rover.xacro'"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-param robot_description -urdf -model rover" />


</launch>

