<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_bot)/world/gazebo_bot.world"/>
  </include>

<include file="$(find gazebo_bot)/launch/bot.launch"/>

<include file="$(find gazebo_bot)/launch/ar.launch"/>

<include file="$(find gazebo_bot)/launch/ar_track.launch"/>
 
</launch>
